<%- include dashboard-header %>
  
  <div class="row">
    <div class="small-12 columns">

      <h3>Edit event</h3>
      
    </div>
  </div>
  
  <form method="post" action="/dashboard/event" enctype="multipart/form-data">
    
    <div class="row">
      
      <div class="medium-8 columns">
        
        <% if (errors.length) { %>
        
        <div data-alert class="alert-box warning">
            
            <% for(var i = 0; i < errors.length; i++) {%>
               
               <p><%= errors[i].msg %></p>

            <% } %>

          <a href="" class="close">&times;</a>

        </div>

        <% } %>
        
      </div> 

    </div>

    <div class="row">
      <div class="medium-6 columns">
      

        <label>Event name:

          <input type="text" placeholder="" name="name" value="<%= theEvent.name || '' %>" />

        </label>
        

        <label>Event description:

          <textarea name="description" rows="12"><%= theEvent.description || '' %></textarea>

        </label>
        
      </div>
      
      <div class="medium-6 columns">

        <label>
          Event images:
          <input type="file" name="images" multiple>
        </label>
        
        <label>
          Event date:

          <input type="text" name="date" value="<%= moment(theEvent.date).format() %>" class="event-date" required>
        </label>

        <label>
          Event seats:

          <input type="text" name="seats" value="<%= theEvent.seats || '' %>" required>
        </label>

        <input type="hidden" name="_id" value="<%= theEvent._id || '' %>">
        
        <% if (theEvent._id) { %>

          <a href="/dashboard/eventdelete/<%= theEvent._id %>" class="button alert tiny">Delete event</a>

        <% } %>
        
        <button class="button right" type="submit">Submit</button>

      </div>
    </div>
    
  </form>

 <%- include dashboard-footer %>
 