<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    reservr
  </title>

  <link rel="stylesheet" href="/bower_components/foundation/css/normalize.css">
  <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css">
  <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="/css/site.css">
  
</head>
<body>

  <header class="header">

    <div class="row">
      
      <div class="small-12 columns">
        
        <a href="/" class="logo">
          <img src="/images/logo-white.png" class="logo-reservr">
          <img src="/images/logo-reactor.png" class="logo-client">
        </a>
        
      </div>
      
    </div>
    
  </header>

  <div data-magellan-expedition="fixed" class="menu-header">
    <div class="row">
      
      <dl class="sub-nav">
        <dt>
          Vezi programul pentru următoarele
        </dt>
        
        <% intervals.forEach(function(interval, i) { %>
          <dd class="<%=
          (startDate === interval.startDate && endDate
           === interval.endDate) ? 'active' : '' %>">
           
            <a href="/?startDate=<%= interval.startDate %>&endDate=<%= interval.endDate %>">
              <%= interval.label %>
            </a>
            
          </dd>
        <% }) %>
        
      </dl>
    </div>
  </div>
  
  <div class="events-list">
  
    <% events.forEach(function(event, i) { %>
    
      <div class="row event">
        
        <div class="small-6 column">
          
          <div class="event-slider">
            <ul data-orbit>
              
              <% event.images.forEach(function(image, i){  %>
                
                <li class="active">
                  
                  <img src="<%= image.path %>">
                
                </li>

              <% }) %>

            </ul>
          </div>
          
        </div>
        
        <div class="small-6 columns event-details">
          
          <h2>
            <%= event.name %>
          </h2>
          
          <div class="row">
            
            <div class="small-6 columns event-meta">
              <i class="fa fa-clock-o"></i>
              
              <%= moment(event.date).format() %>
            </div>
          
            <div class="small-6 columns event-meta">
              <i class="fa fa-map-marker"></i>
              
              #Sound Reactor
            </div>
            
          </div>
          
          <div class="event-description">
            <%- marked(event.description) %>
          </div>
          
          <a class="event-toggle-description">
            <span class="event-toggle-description-show">
              vezi descrierea completă
            </span>
            <span class="event-toggle-description-hide">
              ascunde descrierea completă
            </span>
          </a>
          
          <div class="row reserve-actions">
          
            <div class="small-6 columns">
              
              <div class="container-reserve">
                <div class="container-reserve-btn">
                  Rezervă
                </div>
                
                <form action="/" class="container-reserve-form">
                  
                  <label>
                    Nume
                    <input type="text" name="nume" required>
                  </label>
                  
                  <label>
                    Telefon
                    <input type="text" name="phone" required>
                  </label>
                  
                  <button type="submit">
                    Rezervă
                  </button>
                  
                </form>
              </div>
              
            </div>
            
            <div class="small-6 columns">
              <span class="free-seats">
                12 locuri disponibile
              </span>
            </div>
            
          </div>
          
        </div>
        
      </div>
      
    <% }) %>
  
  
  </div>
  
  <footer class="row footer">
    
    <div class="small-12">
      &copy; 2015 reservr.net
    </div>
    
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/foundation/js/foundation.min.js"></script>
  
  <script src="/js/site.js"></script>

</body>
</html>
