<%- include user-header %>

<div class="dashboard-content">

  <% if (!reservations.length) { %>
    
    <h2 class="subheader text-center">
      No reservations yet.
    </h2>

  <% } else { %>

  <div class="row">
    <div class="small-12 columns">
      
      <h3>
        Reservations
      </h3>
          
      <% reservations.forEach(function(reservation){ %>

        <div class="row">
          
          <div class="small-6 columns">
            <img src="<%= reservation.event.images[0].path %>" alt="">    
          </div>

          <div class="small-6 columns">
            
            <dl>
              <dt>Spectacol</dt>
              <dd><%= reservation.event.name %></dd>
              <dt>Email</dt>
              <dd><%= reservation.email %></dd>
              <dt>Seats</dt>
              <dd><%= reservation.seats %></dd>
              <dt>Total Seats Left</dt>
              <dd><%= reservation.event.seats %></dd>
            </dl>
              
            <form action="">
              <input type="text" value="<%= reservation.seats %>">
              <a href="" class="button">update</a>
            </form>

            <a href="/reservations/<%= reservation.eventId %>/delete/<%= reservation._id %>" class="button alert" style="float:right">
              <i class="fa fa-times-circle"></i>
              Sterge rezervarea
            </a>
          </div>

        </div>
          
      <% }) %>
        
    </div>
  </div>

  <% } %>

</div>


<%- include dashboard-footer %>